# EDA usa visa

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('us_perm_visas.csv')

In [4]:
df

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629.0,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024.0,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923.0,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000.0,NaN,yr,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374357,NaN,Buena Park,Law Offices of Yohan Lee,CA,NaN,NaN,A-16363-85407,2016-12-29,Withdrawn,NaN,...,NaN,NaN,N,NaN,"28,330.00",NaN,Year,NaN,NaN,NaN
374358,NaN,Seattle,MacDonald Hoague & Bayless,WA,NaN,NaN,A-16271-56745,2016-12-30,Withdrawn,L-1,...,NaN,Y,N,NaN,"122,000.00","142,000.00",Year,NaN,NaN,NaN
374359,NaN,Schaumburg,International Legal and Business Services Grou...,IL,NaN,NaN,A-16354-82345,2016-12-30,Withdrawn,H-1B,...,NaN,NaN,N,NaN,"79,082.00","79,082.00",Year,NaN,NaN,NaN
374360,NaN,LOS ANGELES,LAW OFFICES OF JAMES S HONG,CA,NaN,NaN,A-16357-84250,2016-12-30,Withdrawn,B-2,...,NaN,NaN,N,NaN,"37,981.00",NaN,Year,NaN,NaN,NaN
374361,NaN,Phoenix,"Fragomen, Del Rey, Bernsen & Loewy, LLP",AZ,NaN,NaN,A-16279-59292,2016-12-30,Withdrawn,H-1B,...,NaN,NaN,N,NaN,"84,926.00","121,500.00",Year,NaN,NaN,NaN

In [12]:
df.columns.values  ## 150 rows ("its going to be :):):)     ")

array(['add_these_pw_job_title_9089', 'agent_city', 'agent_firm_name',
       'agent_state', 'application_type', 'case_no', 'case_number',
       'case_received_date', 'case_status', 'class_of_admission',
       'country_of_citizenship', 'country_of_citzenship', 'decision_date',
       'employer_address_1', 'employer_address_2', 'employer_city',
       'employer_country', 'employer_decl_info_title', 'employer_name',
       'employer_num_employees', 'employer_phone', 'employer_phone_ext',
       'employer_postal_code', 'employer_state', 'employer_yr_estab',
       'foreign_worker_info_alt_edu_experience',
       'foreign_worker_info_birth_country', 'foreign_worker_info_city',
       'foreign_worker_info_education',
       'foreign_worker_info_education_other', 'foreign_worker_info_inst',
       'foreign_worker_info_major', 'foreign_worker_info_postal_code',
       'foreign_worker_info_rel_occup_exp',
       'foreign_worker_info_req_experience', 'foreign_worker_info_state',
       'foreign_worker_info_training_comp',
       'foreign_worker_ownership_interest',
       'foreign_worker_yr_rel_edu_completed',
       'fw_info_alt_edu_experience', 'fw_info_birth_country',
       'fw_info_education_other', 'fw_info_postal_code',
       'fw_info_rel_occup_exp', 'fw_info_req_experience',
       'fw_info_training_comp', 'fw_info_yr_rel_edu_completed',
       'fw_ownership_interest', 'ji_foreign_worker_live_on_premises',
       'ji_fw_live_on_premises', 'ji_live_in_dom_svc_contract',
       'ji_live_in_domestic_service',
       'ji_offered_to_sec_j_foreign_worker', 'ji_offered_to_sec_j_fw',
       'job_info_alt_cmb_ed_oth_yrs', 'job_info_alt_combo_ed',
       'job_info_alt_combo_ed_exp', 'job_info_alt_combo_ed_other',
       'job_info_alt_field', 'job_info_alt_field_name',
       'job_info_alt_occ', 'job_info_alt_occ_job_title',
       'job_info_alt_occ_num_months', 'job_info_combo_occupation',
       'job_info_education', 'job_info_education_other',
       'job_info_experience', 'job_info_experience_num_months',
       'job_info_foreign_ed', 'job_info_foreign_lang_req',
       'job_info_job_req_normal', 'job_info_job_title', 'job_info_major',
       'job_info_training', 'job_info_training_field',
       'job_info_training_num_months', 'job_info_work_city',
       'job_info_work_postal_code', 'job_info_work_state',
       'naics_2007_us_code', 'naics_2007_us_title', 'naics_code',
       'naics_title', 'naics_us_code', 'naics_us_code_2007',
       'naics_us_title', 'naics_us_title_2007', 'orig_case_no',
       'orig_file_date', 'preparer_info_emp_completed',
       'preparer_info_title', 'pw_amount_9089', 'pw_determ_date',
       'pw_expire_date', 'pw_job_title_908', 'pw_job_title_9089',
       'pw_level_9089', 'pw_soc_code', 'pw_soc_title',
       'pw_source_name_9089', 'pw_source_name_other_9089', 'pw_track_num',
       'pw_unit_of_pay_9089', 'rec_info_barg_rep_notified',
       'recr_info_barg_rep_notified', 'recr_info_coll_teach_comp_proc',
       'recr_info_coll_univ_teacher', 'recr_info_employer_rec_payment',
       'recr_info_first_ad_start', 'recr_info_job_fair_from',
       'recr_info_job_fair_to', 'recr_info_on_campus_recr_from',
       'recr_info_on_campus_recr_to', 'recr_info_pro_org_advert_from',
       'recr_info_pro_org_advert_to', 'recr_info_prof_org_advert_from',
       'recr_info_prof_org_advert_to', 'recr_info_professional_occ',
       'recr_info_radio_tv_ad_from', 'recr_info_radio_tv_ad_to',
       'recr_info_second_ad_start', 'recr_info_sunday_newspaper',
       'recr_info_swa_job_order_end', 'recr_info_swa_job_order_start',
       'refile', 'ri_1st_ad_newspaper_name', 'ri_2nd_ad_newspaper_name',
       'ri_2nd_ad_newspaper_or_journal', 'ri_campus_placement_from',
       'ri_campus_placement_to', 'ri_coll_tch_basic_process',
       'ri_coll_teach_pro_jnl', 'ri_coll_teach_select_date',
       'ri_employee_referral_prog_from', 'ri_employee_referral_prog_to',
       'ri_employer_web_post_from', 'ri_employer_web_post_to',
       'ri_job_search_website_from', 'ri_job_search_website_to',
       'ri_layoff_in_past_six_months', 'ri_local_ethnic_paper_from',
       'ri_local_ethnic_paper_to', 'ri_posted_notice_at_worksite',
       'ri_pvt_employment_firm_from', 'ri_pvt_employment_firm_to',
       'ri_us_workers_considered', 'schd_a_sheepherder',
       'us_economic_sector', 'wage_offer_from_9089', 'wage_offer_to_9089',
       'wage_offer_unit_of_pay_9089', 'wage_offered_from_9089',
       'wage_offered_to_9089', 'wage_offered_unit_of_pay_9089'],
      dtype=object)

In [13]:
## lets analyse the cloumns

In [14]:
df['case_no']

0         A-07323-97014
1         A-07332-99439
2         A-07333-99643
3         A-07339-01930
4         A-07345-03565
              ...
374357              NaN
374358              NaN
374359              NaN
374360              NaN
374361              NaN
Name: case_no, Length: 374362, dtype: object

In [16]:
df['case_number']  ## something seems fishy

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
              ...
374357    A-16363-85407
374358    A-16271-56745
374359    A-16354-82345
374360    A-16357-84250
374361    A-16279-59292
Name: case_number, Length: 374362, dtype: object

In [20]:
df['case_no'].nunique()  ## out of 374362 rows only only 134990 are unique values

134990

In [21]:
df['case_number'].nunique() ## out of 374362 rows only only 134990 are unique values

238418

In [35]:
df['case_number'].isna().sum()

135269

In [22]:
## after anlysing both the colomns, it seems both conatins the same information, just the data of first column is replaced by the nan values for other column and vice versa

In [24]:
case_no_index = df.columns.get_loc("case_no")
case_number_index = df.columns.get_loc('case_number')
print(case_no_index)
print(case_number_index)

5
6

In [36]:
case_number_list = []
for i in df.iloc[0:135269, case_no_index]:
    case_number_list.append(i)
for i in df.iloc[135269:374362, case_number_index]:
    case_number_list.append(i)

In [37]:
df['case_numbers'] = case_number_list
df['case_numbers'].nunique()

373025

In [38]:
df.drop(['case_no', 'case_number'], axis=1, inplace=True)

In [41]:
## lets analyse the column case_status

df['case_status'].unique()

array(['Certified', 'Denied', 'Certified-Expired', 'Withdrawn'],
      dtype=object)

In [43]:
df['case_status'].value_counts() 

# from the data we can see that 18194 people have withdrawn there application => those data dosent make any sense 
# also we will use this 'case_status' column as our target column (thus lets clean this column)
# also we can combine the data 'certified' and 'certified-Expired' as they represents certified

case_status
Certified            181933
Certified-Expired    148586
Denied                25649
Withdrawn             18194
Name: count, dtype: int64

In [46]:
df = df[df.case_status != 'Withdrawn']

In [48]:
df.case_status.value_counts()

case_status
Certified            181933
Certified-Expired    148586
Denied                25649
Name: count, dtype: int64

In [51]:
df.loc[df.case_status ==  'Certified-Expired', 'case_status'] = 'Certified'  ## merged 'certified' and 'certified-Expired'

In [52]:
df.case_status.value_counts()

case_status
Certified    330519
Denied        25649
Name: count, dtype: int64

In [56]:
df.case_status.value_counts(normalize=True) * 100  
## 7 precent of the application are denie

case_status
Certified    92.798623
Denied        7.201377
Name: proportion, dtype: float64

In [57]:
df.isnull().sum()

add_these_pw_job_title_9089      317031
agent_city                       153452
agent_firm_name                  157646
agent_state                      156544
application_type                 229320
                                  ...
wage_offer_unit_of_pay_9089      108769
wage_offered_from_9089           248582
wage_offered_to_9089             326852
wage_offered_unit_of_pay_9089    289470
case_numbers                          0
Length: 153, dtype: int64

In [58]:
#dropping all empty rows and columns
df.dropna(axis = 1, how='all', inplace = True)
df.dropna(axis = 0, how='all', inplace = True)

In [59]:
for columns in df.columns:
    print(f"The missing values for {columns} is {df[columns].isnull().sum()}")

The missing values for add_these_pw_job_title_9089 is 317031
The missing values for agent_city is 153452
The missing values for agent_firm_name is 157646
The missing values for agent_state is 156544
The missing values for application_type is 229320
The missing values for case_received_date is 126848
The missing values for case_status is 0
The missing values for class_of_admission is 21085
The missing values for country_of_citizenship is 19272
The missing values for country_of_citzenship is 336951
The missing values for decision_date is 0
The missing values for employer_address_1 is 37
The missing values for employer_address_2 is 236133
The missing values for employer_city is 10
The missing values for employer_country is 126920
The missing values for employer_decl_info_title is 126886
The missing values for employer_name is 8
The missing values for employer_num_employees is 126925
The missing values for employer_phone is 126883
The missing values for employer_phone_ext is 333670
The missing values for employer_postal_code is 33
The missing values for employer_state is 37
The missing values for employer_yr_estab is 126982
The missing values for foreign_worker_info_alt_edu_experience is 271883
The missing values for foreign_worker_info_birth_country is 271880
The missing values for foreign_worker_info_city is 126875
The missing values for foreign_worker_info_education is 143554
The missing values for foreign_worker_info_education_other is 352421
The missing values for foreign_worker_info_inst is 143883
The missing values for foreign_worker_info_major is 144800
The missing values for foreign_worker_info_postal_code is 274425
The missing values for foreign_worker_info_rel_occup_exp is 271875
The missing values for foreign_worker_info_req_experience is 271873
The missing values for foreign_worker_info_state is 142448
The missing values for foreign_worker_info_training_comp is 271874
The missing values for foreign_worker_ownership_interest is 271870
The missing values for foreign_worker_yr_rel_edu_completed is 276735
The missing values for fw_info_alt_edu_experience is 211154
The missing values for fw_info_birth_country is 211166
The missing values for fw_info_education_other is 350072
The missing values for fw_info_postal_code is 213280
The missing values for fw_info_rel_occup_exp is 211157
The missing values for fw_info_req_experience is 211153
The missing values for fw_info_training_comp is 211156
The missing values for fw_info_yr_rel_edu_completed is 223131
The missing values for fw_ownership_interest is 211154
The missing values for ji_foreign_worker_live_on_premises is 271871
The missing values for ji_fw_live_on_premises is 211152
The missing values for ji_live_in_dom_svc_contract is 353855
The missing values for ji_live_in_domestic_service is 126858
The missing values for ji_offered_to_sec_j_foreign_worker is 271871
The missing values for ji_offered_to_sec_j_fw is 211152
The missing values for job_info_alt_cmb_ed_oth_yrs is 288242
The missing values for job_info_alt_combo_ed is 290025
The missing values for job_info_alt_combo_ed_exp is 126881
The missing values for job_info_alt_combo_ed_other is 347190
The missing values for job_info_alt_field is 126880
The missing values for job_info_alt_field_name is 265907
The missing values for job_info_alt_occ is 213169
The missing values for job_info_alt_occ_job_title is 213847
The missing values for job_info_alt_occ_num_months is 214045
The missing values for job_info_combo_occupation is 126855
The missing values for job_info_education is 147649
The missing values for job_info_education_other is 348724
The missing values for job_info_experience is 126858
The missing values for job_info_experience_num_months is 227222
The missing values for job_info_foreign_ed is 127075
The missing values for job_info_foreign_lang_req is 126862
The missing values for job_info_job_req_normal is 126859
The missing values for job_info_job_title is 126889
The missing values for job_info_major is 151241
The missing values for job_info_training is 126861
The missing values for job_info_training_field is 351877
The missing values for job_info_training_num_months is 351596
The missing values for job_info_work_city is 95
The missing values for job_info_work_postal_code is 126930
The missing values for job_info_work_state is 96
The missing values for naics_2007_us_code is 337009
The missing values for naics_2007_us_title is 337598
The missing values for naics_code is 272070
The missing values for naics_title is 272070
The missing values for naics_us_code is 211467
The missing values for naics_us_code_2007 is 248921
The missing values for naics_us_title is 211467
The missing values for naics_us_title_2007 is 251893
The missing values for orig_case_no is 355892
The missing values for orig_file_date is 355904
The missing values for preparer_info_emp_completed is 126885
The missing values for preparer_info_title is 154602
The missing values for pw_amount_9089 is 2203
The missing values for pw_determ_date is 127160
The missing values for pw_expire_date is 127239
The missing values for pw_job_title_908 is 211218
The missing values for pw_job_title_9089 is 145334
The missing values for pw_level_9089 is 26585
The missing values for pw_soc_code is 574
The missing values for pw_soc_title is 2321
The missing values for pw_source_name_9089 is 2087
The missing values for pw_source_name_other_9089 is 340927
The missing values for pw_track_num is 128696
The missing values for pw_unit_of_pay_9089 is 1481
The missing values for rec_info_barg_rep_notified is 271930
The missing values for recr_info_barg_rep_notified is 211165
The missing values for recr_info_coll_teach_comp_proc is 349374
The missing values for recr_info_coll_univ_teacher is 126876
The missing values for recr_info_employer_rec_payment is 126864
The missing values for recr_info_first_ad_start is 132806
The missing values for recr_info_job_fair_from is 354447
The missing values for recr_info_job_fair_to is 354451
The missing values for recr_info_on_campus_recr_from is 354403
The missing values for recr_info_on_campus_recr_to is 354410
The missing values for recr_info_pro_org_advert_from is 342873
The missing values for recr_info_pro_org_advert_to is 342879
The missing values for recr_info_prof_org_advert_from is 328771
The missing values for recr_info_prof_org_advert_to is 328778
The missing values for recr_info_professional_occ is 126861
The missing values for recr_info_radio_tv_ad_from is 336666
The missing values for recr_info_radio_tv_ad_to is 336665
The missing values for recr_info_second_ad_start is 132843
The missing values for recr_info_sunday_newspaper is 132717
The missing values for recr_info_swa_job_order_end is 132841
The missing values for recr_info_swa_job_order_start is 132819
The missing values for refile is 247861
The missing values for ri_1st_ad_newspaper_name is 132797
The missing values for ri_2nd_ad_newspaper_name is 132858
The missing values for ri_2nd_ad_newspaper_or_journal is 132825
The missing values for ri_campus_placement_from is 327380
The missing values for ri_campus_placement_to is 327390
The missing values for ri_coll_tch_basic_process is 349382
The missing values for ri_coll_teach_pro_jnl is 350625
The missing values for ri_coll_teach_select_date is 350626
The missing values for ri_employee_referral_prog_from is 289853
The missing values for ri_employee_referral_prog_to is 289852
The missing values for ri_employer_web_post_from is 224277
The missing values for ri_employer_web_post_to is 224300
The missing values for ri_job_search_website_from is 166377
The missing values for ri_job_search_website_to is 166388
The missing values for ri_layoff_in_past_six_months is 126878
The missing values for ri_local_ethnic_paper_from is 239853
The missing values for ri_local_ethnic_paper_to is 239852
The missing values for ri_posted_notice_at_worksite is 126927
The missing values for ri_pvt_employment_firm_from is 340050
The missing values for ri_pvt_employment_firm_to is 340052
The missing values for ri_us_workers_considered is 339595
The missing values for schd_a_sheepherder is 126866
The missing values for us_economic_sector is 235300
The missing values for wage_offer_from_9089 is 107705
The missing values for wage_offer_to_9089 is 285397
The missing values for wage_offer_unit_of_pay_9089 is 108769
The missing values for wage_offered_from_9089 is 248582
The missing values for wage_offered_to_9089 is 326852
The missing values for wage_offered_unit_of_pay_9089 is 289470
The missing values for case_numbers is 0

In [67]:
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

add_these_pw_job_title_9089: object
agent_city: object
agent_firm_name: object
agent_state: object
application_type: object
case_received_date: object
case_status: object
class_of_admission: object
country_of_citizenship: object
country_of_citzenship: object
decision_date: object
employer_address_1: object
employer_address_2: object
employer_city: object
employer_country: object
employer_decl_info_title: object
employer_name: object
employer_num_employees: float64
employer_phone: object
employer_phone_ext: object
employer_postal_code: object
employer_state: object
employer_yr_estab: float64
foreign_worker_info_alt_edu_experience: object
foreign_worker_info_birth_country: object
foreign_worker_info_city: object
foreign_worker_info_education: object
foreign_worker_info_education_other: object
foreign_worker_info_inst: object
foreign_worker_info_major: object
foreign_worker_info_postal_code: object
foreign_worker_info_rel_occup_exp: object
foreign_worker_info_req_experience: object
foreign_worker_info_state: object
foreign_worker_info_training_comp: object
foreign_worker_ownership_interest: object
foreign_worker_yr_rel_edu_completed: float64
fw_info_alt_edu_experience: object
fw_info_birth_country: object
fw_info_education_other: object
fw_info_postal_code: object
fw_info_rel_occup_exp: object
fw_info_req_experience: object
fw_info_training_comp: object
fw_info_yr_rel_edu_completed: float64
fw_ownership_interest: object
ji_foreign_worker_live_on_premises: object
ji_fw_live_on_premises: object
ji_live_in_dom_svc_contract: object
ji_live_in_domestic_service: object
ji_offered_to_sec_j_foreign_worker: object
ji_offered_to_sec_j_fw: object
job_info_alt_cmb_ed_oth_yrs: float64
job_info_alt_combo_ed: object
job_info_alt_combo_ed_exp: object
job_info_alt_combo_ed_other: object
job_info_alt_field: object
job_info_alt_field_name: object
job_info_alt_occ: object
job_info_alt_occ_job_title: object
job_info_alt_occ_num_months: float64
job_info_combo_occupation: object
job_info_education: object
job_info_education_other: object
job_info_experience: object
job_info_experience_num_months: float64
job_info_foreign_ed: object
job_info_foreign_lang_req: object
job_info_job_req_normal: object
job_info_job_title: object
job_info_major: object
job_info_training: object
job_info_training_field: object
job_info_training_num_months: float64
job_info_work_city: object
job_info_work_postal_code: object
job_info_work_state: object
naics_2007_us_code: object
naics_2007_us_title: object
naics_code: object
naics_title: object
naics_us_code: object
naics_us_code_2007: object
naics_us_title: object
naics_us_title_2007: object
orig_case_no: object
orig_file_date: object
preparer_info_emp_completed: object
preparer_info_title: object
pw_amount_9089: object
pw_determ_date: object
pw_expire_date: object
pw_job_title_908: object
pw_job_title_9089: object
pw_level_9089: object
pw_soc_code: object
pw_soc_title: object
pw_source_name_9089: object
pw_source_name_other_9089: object
pw_track_num: object
pw_unit_of_pay_9089: object
rec_info_barg_rep_notified: object
recr_info_barg_rep_notified: object
recr_info_coll_teach_comp_proc: object
recr_info_coll_univ_teacher: object
recr_info_employer_rec_payment: object
recr_info_first_ad_start: object
recr_info_job_fair_from: object
recr_info_job_fair_to: object
recr_info_on_campus_recr_from: object
recr_info_on_campus_recr_to: object
recr_info_pro_org_advert_from: object
recr_info_pro_org_advert_to: object
recr_info_prof_org_advert_from: object
recr_info_prof_org_advert_to: object
recr_info_professional_occ: object
recr_info_radio_tv_ad_from: object
recr_info_radio_tv_ad_to: object
recr_info_second_ad_start: object
recr_info_sunday_newspaper: object
recr_info_swa_job_order_end: object
recr_info_swa_job_order_start: object
refile: object
ri_1st_ad_newspaper_name: object
ri_2nd_ad_newspaper_name: object
ri_2nd_ad_newspaper_or_journal: object
ri_campus_placement_from: object
ri_campus_placement_to: object
ri_coll_tch_basic_process: object
ri_coll_teach_pro_jnl: object
ri_coll_teach_select_date: object
ri_employee_referral_prog_from: object
ri_employee_referral_prog_to: object
ri_employer_web_post_from: object
ri_employer_web_post_to: object
ri_job_search_website_from: object
ri_job_search_website_to: object
ri_layoff_in_past_six_months: object
ri_local_ethnic_paper_from: object
ri_local_ethnic_paper_to: object
ri_posted_notice_at_worksite: object
ri_pvt_employment_firm_from: object
ri_pvt_employment_firm_to: object
ri_us_workers_considered: object
schd_a_sheepherder: object
us_economic_sector: object
wage_offer_from_9089: object
wage_offer_to_9089: object
wage_offer_unit_of_pay_9089: object
wage_offered_from_9089: float64
wage_offered_to_9089: float64
wage_offered_unit_of_pay_9089: object
case_numbers: object